.interna-portfolio {
    background: url("../img/bg-portfolio.jpg") no-repeat center;
    background-size: cover;
}

.quote-clientes {
  padding: 60px;
  max-width: 600px;
  margin: 0 auto;
}

.quote-clientes p {
  text-align: center;
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 18px;
  line-height: 25px;
  font-style: italic;
  padding-bottom: 30px;
}

.quote-clientes cite {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 auto;
  position: relative;
  left: 165px;
}
